{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">{{ 'word.login'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
